$border-color: #232323;
$profile-offset: -150px;
$profile-img-size: 300px;

header {
	background: {
		image: linear-gradient(rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)), url("../../../assets/video/header-bg.jpg");;
		size: auto 110%;
		position: top;
		attachment: fixed;
		repeat: no-repeat;
	}
	overflow: hidden;

	.name-container {
		background: linear-gradient(rgba(0, 0, 0, 0.3),
				rgba(0, 0, 0, 0.3)), url("../../../assets/images/namebg.png");

		height: 100vh;
		position: relative;
		width: 100vw;
		top: 50vh;
		border-top: 3px solid $border-color;

		.name-image {
			position: relative;
			width: $profile-img-size;
			height: $profile-img-size;
			top: $profile-offset;
			margin-bottom: $profile-offset;
			margin: {
				left: auto;
				right: auto;
			}
			overflow: hidden;
			border: 3px solid $border-color;
			border-radius: 150px;

			img {
				position: relative;
				left: -85px;
				height: inherit;
			}
		}
	}

	.skills-container {
		border-top: 3px solid $border-color;
		padding-top: 4em;
		height: 20vh;
		background: linear-gradient(rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)), url("../../../assets/images/namebg.png");

		.container {
			display: flex;
			justify-content: space-around;
		}
	}
}
@media screen and (max-width: 540px) {
	header {
		.name-container{
			//height: 50em;
			margin-bottom: 6em;
		}
		.skills-container{
			padding-top: 0;
			a {
				font-size: 14px;
			}
		}
	}
}
