$border-color: #232323;
$border-color2: #343434;
$profile-offset: -150px;
$profile-img-size: 300px;

header {
	box-sizing: border-box;
	background: {
		image: linear-gradient(rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)), url("../../../assets/video/header-bg.jpg");;
		size: auto 110%;
		position: top;
		attachment: fixed;
		repeat: no-repeat;
	}
	overflow: hidden;

	.video-wrapper {
		position: relative;
		height: 50vh;
		video {
			position: absolute;
			//height: 50vh;
			width: 100vw;
			top: 0;
			left: 0;
		}

		.video-overlay {
			//display: none;
			position: absolute;
			width: 100vw;
			height: 100vh;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.name-container {
		position: relative;
		background: linear-gradient(rgba(0, 0, 0, 0.3),
				rgba(0, 0, 0, 0.3)), url("../../../assets/images/namebg.png");

		height: 50vh;
		width: 100vw;
		border-top: 5px solid $border-color2;
		.name-image {
			position: relative;
			width: $profile-img-size;
			height: $profile-img-size;
			top: $profile-offset;
			margin-bottom: $profile-offset;
			margin: {
				left: auto;
				right: auto;
			}
			overflow: hidden;
			border: 3px solid $border-color;
			border-radius: 150px;

			img {
				position: relative;
				left: -85px;
				height: inherit;
			}
		}
	}

	.skills-container {
		border-top: 3px solid $border-color;
		padding-top: 4em;
		height: 20vh;
		background: linear-gradient(rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)), url("../../../assets/images/namebg.png");

		.container {
			display: flex;
			justify-content: space-around;
		}
	}
}

@media screen and (max-width: 540px) {
	header {
		.video-wrapper{
			height: 40vh;
		}
		.name-container {
			//margin-bottom: 6em;
		}

		.skills-container {
			padding-top: 0;

			a {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	header {
		//background-size: 100%;
		.video-wrapper{
			video {
				//position: relative;
				top: 0;
				//height: 50vh !important;
				width: 150vw;
			}
		}
	}
}
