header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/video/header-bg.jpg");
  background-size: auto 110%;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
header .video-wrapper {
  position: relative;
  height: 50vh;
}
header .video-wrapper video {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}
header .video-wrapper .video-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
header .name-container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/images/namebg.png");
  height: 50vh;
  width: 100vw;
  border-top: 3px solid #232323;
}
header .name-container .name-image {
  position: relative;
  width: 300px;
  height: 300px;
  top: -150px;
  margin-bottom: -150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 3px solid #232323;
  border-radius: 150px;
}
header .name-container .name-image img {
  position: relative;
  left: -85px;
  height: inherit;
}
header .skills-container {
  border-top: 3px solid #232323;
  padding-top: 4em;
  height: 20vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/namebg.png");
}
header .skills-container .container {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 540px) {
  header .video-wrapper {
    height: 40vh;
  }
  header .skills-container {
    padding-top: 0;
  }
  header .skills-container a {
    font-size: 14px;
  }
}
@media screen and (max-aspect-ratio: 1/1) {
  header .video-wrapper video {
    top: 0;
    width: 150vw;
  }
}
