$deep-purple-default: #ff9800;

#contact {
	input, textarea {
		color: #f8f9fa;
	}

	.social-container {
		display: flex;
		justify-content: space-around;

		a {
			display: inline-block;
			font-family: Ubuntu, serif;
			width: 140px;
			margin: {
				top: 10px;
				left: 10px;
				right: 10px;
			};
		}

		span {
			padding: {
				right: 10px;
			};
		}
	}


	/* label focus color */
	.input-field {
		input[type=text]:focus + label, input[type=email]:focus + label, textarea:focus + label {
			color: $deep-purple-default;
		}
	}

	/* label underline focus color */
	.input-field {
		input[type=text]:focus, input[type=email]:focus, textarea:focus {
			border-bottom: 1px solid $deep-purple-default;
			box-shadow: 0 1px 0 0 $deep-purple-default;
		}
	}
}

