.bg-def-1 {
  background-color: #363333;
}

.fg-def-1 {
  color: #363333;
}

.bg-dark-0 {
  background-color: #212121;
}

.fg-dark-0 {
  color: #212121;
}

.bg-dark-1 {
  background-color: #272121;
}

.fg-dark-1 {
  color: #333333;
}

.bg-dark-2 {
  background-color: #333333;
}

.fg-dark-2 {
  color: #272121;
}

.bg-accent-1 {
  background-color: #e16428;
}

.fg-accent-1 {
  color: #e16428;
}

.bg-accent-2 {
  background-color: #f6e9e9;
}

.fg-accent-2 {
  color: #f6e9e9;
}
